<div>
  <h3>{{ playlist.name }}</h3>
  <form name="songForm">
    <label></label>
    <select class="form-control" ng-model="chosenSong" ng-options="oneSong as oneSong.name for oneSong in songs" ng-required='true'>
    </select><br>
    <button ng-click="addSongToPlaylist(playlist, oneSong)" class="btn btn-success" ng-disabled="songForm.$invalid">Add Song</button>
  </form>
  <table class='table' ng-show="playlist.songs.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in playlist.songs" ng-class="{active: song === getCurrentSong() }">
        <td>
          <button class="btn btn-default btn-xs" ng-click="toggle(song)">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist.name }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genres.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
  <small ng-hide="playlist.songs.length">No songs.</small>
  <hr>
</div>
