<div >
  <h3>Make a New Playlist</h3>
  <form name='newPlaylistForm' class='form-inline'>
    <p ng-show="newPlaylistForm.newname.$invalid">Playlist names must be 16 characters or fewer!</p>
    <p ng-show="newPlaylistForm.newname.$pristine">Please enter a playlist name:</p>
    <input name="newname" ng-class="{'error': (newPlaylistForm.newname.$error.maxlength && newPlaylistForm.newname.$dirty)}" ng-model='newPlaylistName' class='form-control' ng-maxlength="16" ng-required='true'>
    <button ng-click='newPlaylistLog()' class="btn btn-default" ng-disabled="newPlaylistForm.$invalid">Submit</button>
    <p>{{newPlaylistForm.newname.$error}}</p>
    <p>{{newPlaylistForm.newname.$dirty }}</p>

  </form>
</div>
